<div class="container-fluid">

<%= form_for [@east_africa_award] do |f| %>
    <%= f.label :Company_name %>
    <%= f.text_field :company_name %><br>
    <%= f.label :Comany_website %>
    <%= f.text_field :company_website %><br>
    <%= f.label :name %>
    <%= f.text_field :name%><br>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :ticket_quantity %>
    <%= f.text_field :ticket_quantity %>
    <%= f.label :security_code %>
    <%= f.text_field :security_code %>
    <%= f.label :message %>
    <%= f.text_field :message %>

    <p><%= f.submit %></p>
  <% end %>

</div>