<div class="form">
    <%= form_for [@seminar] do |f| %>
        <div class="row" style="padding-left: 200px">
            <div class="col">
                <%= f.label :name %>
                    <%= f.text_field :name, :class => "input" %>
                        <br>
                        <%= f.label :telephone %>
                            <%= f.text_field :telephone, :class => "input" %>
                                <br>
            </div>
            <div class="col">
                <%= f.label :email %>
                    <%= f.text_field :email, :class => "input" %>
                        <br>
                        
            </div>
        </div>
        <%= f.submit "Submit"%>
        <% end %>
</div>